<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Athena Chat{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="http://athena.example.com/favicon.ico?v=2" />

    {% stylesheets filter='cssrewrite'
    'bundles/athenachat/vendor/bootstrap/dist/css/bootstrap.css'
    'bundles/athenachat/vendor/bootstrap/dist/css/bootstrap-theme.css'
    'bundles/athenachat/css/fonts/typicons.min.css'
    'bundles/athenachat/css/jquery.mCustomScrollbar.css'
    'bundles/athenachat/css/skel.css'
    'bundles/athenachat/css/style.css'
    'bundles/athenachat/css/style-wide.css'
    'bundles/athenachat/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <!--[if lte IE 9]><link rel="stylesheet" href="/bundles/athenachat/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/bundles/athenachat/css/ie/v8.css" /><![endif]-->

</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="contenu-page">
        <div id="error"></div>
        {% block content %}
            <h1>Contenu par defaut</h1>
        {% endblock %}

    </div>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div class="navbar navbar-default navbar-fixed-bottom navbar-conversation" style="overflow:visible; border: none;">
	    <div class="container panel-conversation">
	            <div class="table-users">
	                <div class="row blue-text panel-head" onClick="$('#users').toggle('medium');">
	                    <div style="z-index: 100;"><strong>Conversation</strong></div>
	                </div>
	                <div class="row" id="users">
	                    <ul class="tableau-users" id="liste-users">
							{{ render(controller('AthenaChatBundle:Chat:users')) }}
	                    </ul>
	                </div>
	                <div class="row">
	                    <div class='user-td tableau-users'>
	                    	<input class="form-control input-sm search-field" style="border:0;" type="text" name="recherche" id="recherche" placeholder="Rechercher" width="100%" style="width:60%"/>
	                    </div>
	                </div>
	            </div>
	        </div>
	    <div id="conversation-container" class="conversation-container">

	    </div>
{% else %}
	</div>
       <footer class="bs-footer" role="contentinfo">
           <p class="indentH4">IP-FORMATION &copy; ATHENA Company 2013 - Pierre VASSOILLES & Damien LEBERT</p>
       </footer>
{% endif %}

    {% javascripts    '@AthenaChatBundle/Resources/public/vendor/jquery/dist/jquery.min.js'
    '@AthenaChatBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js'
    '@AthenaChatBundle/Resources/public/vendor/modernizr/modernizr.js'
    '@AthenaChatBundle/Resources/public/js/jquery.mCustomScrollbar.js'
    '@AthenaChatBundle/Resources/public/vendor/mustache.js/mustache.js'
    '@AthenaChatBundle/Resources/public/vendor/moment/min/moment-with-locales.min.js'
    '@AthenaChatBundle/Resources/public/vendor/ddslick/jquery.ddslick.min.js'
    '@AthenaChatBundle/Resources/public/js/jquery.scrolly.min.js'
    '@AthenaChatBundle/Resources/public/js/jquery.scrollzer.min.js'
    '@AthenaChatBundle/Resources/public/js/skel.min.js'
    '@AthenaChatBundle/Resources/public/js/skel-layers.min.js'
    '@AthenaChatBundle/Resources/public/js/init.js'
    '@AthenaChatBundle/Resources/public/vendor/notifyjs/dist/notify.min.js'
    '@AthenaChatBundle/Resources/public/vendor/notifyjs/dist/styles/bootstrap/notify-bootstrap.js'
    '@AthenaChatBundle/Resources/public/js/main.js'
    '@AthenaChatBundle/Resources/public/js/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <script src="{{ nodeUrl }}/socket.io/socket.io.js"></script>
        <script>

            var socket;
            function getUsernames(){
                socket.emit('getUsernames', '{{ app.user.id }}');
            }

            jQuery(function($){

                {% for flashMessage in app.session.flashbag.get('success') %}
                    $.notify("{{ flashMessage }}", "success");
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    $.notify("{{ flashMessage }}", "error");
                {% endfor %}

                $(document).on("click", '.user-td', function(e){
                    e.preventDefault();
                    ajouterConversation($(this).attr('data-user-id'), $(this).attr('data-user-name'));
                });


                //Mise à jour des timers
                function updateTime() {
                    $('time').each(function(){
                       datetime = $(this).attr('data-time');
                       if (datetime != '' && datetime != 'undefined' && datetime != null) {
                           $(this).html(moment(datetime, moment.ISO_8601, 'fr').fromNow());
                       }
                    });
                }
                //Mise à jour des timers toutes les minutes
                setInterval(updateTime, 60000);

                socket = io.connect('{{ nodeUrl }}');
                //var $users = $('#users');
                var $messageForm = $('#send-message');
                var $messageBox = $('#message');
                var $chat = $('#chat');

                socket.emit('new user', { id:'{{ app.user.id }}', fullname:'{{ app.user.fullname }}'});

                socket.on('usernames', function(data){
                    updateConnected(data);
                });

                socket.on('new user connected', function(data){

                    txt = '';
                    if (data['id'] == '{{ app.user.id }}') {
                        txt = '<div class="chat-room-message">--- Vous êtes maintenant connecté(e)</div>';
                        $.notify("Vous êtes maintenant connecté(e)", "success");
                    } else {
                        txt = '<div class="chat-room-message">--- <strong class="chat-room-name">'+data['fullname']+'</strong> est maintenant connecté(e)</div>';
                        $.notify(data['fullname']+" est maintenant connecté(e)", "success");
                    }
                    $('#chat-room-messages').append(txt);
                    $('#chat-room-messages').animate({scrollTop:60000}, 'fast');
                });

                socket.on('user disconnected', function(data) {
                    $('#chat-room-messages').append('<div class="chat-room-message">--- <strong class="chat-room-name">'+data['fullname']+'</strong> est maintenant déconnecté(e)</div>');
                    $.notify(data['fullname']+" est maintenant déconnecté(e)", "info");
                    $('#chat-room-messages').animate({scrollTop:60000}, 'fast');
                });

                $messageForm.submit(function(e){
                    e.preventDefault();
                    socket.emit('send message', $messageBox.val(), function(data){
                        data = data.replace(/</g,"&lt;").replace(/>/g,"&gt;");
                        $chat.append('<span class="error">' + data + "</span><br/>");
                    });
                    $messageBox.val('');
                });


                function sendChatRoomMessage()
                {
                    var messageToAll = $('#chat-room-area').val().trim();
                    if (messageToAll != null && messageToAll != '') {
                        socket.emit('chatroom message', {msg: messageToAll, from: '{{ app.user.id }}', fullname: '{{ app.user.fullname }}'});
                    }
                    $('#chat-room-area').val('');
                }

                $('#chat-room-submit').on('click', function(e){
                    e.preventDefault();
                    sendChatRoomMessage();
                    return false;
                });

                $('#chat-room-area').on('keypress', function(e){
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if(code == 13){
                        sendChatRoomMessage();
                        return false;
                    }
                });


                socket.on('new message', function(data){

                    if(data['from'] == '{{ app.user.id }}'){
                        addMessage(data['conversation'], data['msg'], null, true, avatars[data['from']]);
                    }else{
                        ajouterConversation(data['from'], data['fromname']);
                        addMessage(data['conversation'], data['msg'], null, false, avatars[data['from']]);
                    }

                });

                socket.on('new chatroom message', function(data) {

                    from = data['from'];

                    txt = '';

                    if (from == '{{ app.user.id }}') {
                        txt = '<div class="chat-room-message">&gt; <strong class="chat-room-name">Moi: </strong>' + data['msg'] + '</div>';
                    } else {
                        txt = '<div class="chat-room-message">&gt; <strong class="chat-room-name">' + data['fullname'] + ': </strong>' + data['msg'] + '</div>';
                    }
                    $('#chat-room-messages').append(txt);
                    $('#chat-room-messages').animate({scrollTop:60000}, 'fast');
                });

                $(document).on("keypress", $("input"), function(e){
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if(code == 13){
                        //Récupération des données
                        var message = $(":focus").val();
                        var contact = $(":focus").attr("data-reciever-id");
                        var conversation = $(":focus").attr("id").substr(8);

                        //Faire envoi message
                        var SendData = {from:'{{ app.user.id }}',to:contact,msg:message,conversation:conversation};


                        $('#messagesPanel-'+contact).animate({scrollTop:60000}, 'fast');
                        //Ajouter le message dans la base
                        $.ajax({
                            type: "POST",
                            url: Routing.generate('add_message', { idConversation: conversation }),
                            data: {userConnecte: '{{ app.user.id }}', message: message},
                            success:function(){
                                socket.emit('send message', SendData);
                            },
                            error:function(xhr, texte, error){
                                alert("Vous devez vous connecter pour envoyer un message !");
                            }
                        });
                        //Effacer le champ massage
                        $(":focus").val("");
                    }else{
                        var contact = $(":focus").attr("id").substr(8);
                        var SendData = {from:'{{ app.user.id }}',to:contact};
                        socket.emit('typing', SendData);
                    }
                });


                $('#recherche').on('keyup', function(e){
                       $.ajax({
                           type: "GET",
                           url: Routing.generate('search_user', { search: $(this).val() }),
                           success:function(data){
                               var liste = '';
                               $.each(data, function(key, object){
                                   liste += '<li id="contact-'+object.id+'" class="user-td" data-user-id="'+object.id+'" data-user-name="'+ object.last_name + ' ' + object.first_name +'">';
                                   liste += '<img src="/bundles/athenachat/images/avatars/'+object.avatar+'" class="avatar-users">';
                                   liste +=  object.last_name + ' ' + object.first_name;
                                   liste += '<span class="glyphicon glyphicon-remove-circle droite non-connecte">';
                                   liste += '</span>';
                                   liste += '</li>';
                               });
                               $('#liste-users').html(liste);
                               getUsernames();
                           },
                           error:function(xhr, texte, error){
                                console.log(xhr, texte, error);
                           }
                       });
                });

//                socket.on('otherTyping', function(data){
//                    if(data['isTyping'] && $("#" + data["from"] + "-typing").size() === 0){
//                        var msgTyping = "<div id='" + data["from"] + "-typing' style='position:relative; bottom:0; z-index:10000; background-color:white;'>" + data["from"] + " est en train d'écrire...</div>";
//                        $("#messagesPanel-"+data['from']).append(msgTyping).animate({scrollTop:60000}, 'fast');
//                        $("#logoBar-"+data['from']).attr("class", "typcn typcn-message-typing");
//                        $("#logoConv-"+data['from']).attr("class", "typcn typcn-message-typing");
//                        setTimeout(function(){
//                            $("#" + data["from"] + "-typing").remove();
//                            $("#logoBar-"+data['from']).attr("class", "typcn typcn-message");
//                            $("#logoConv-"+data['from']).attr("class", "typcn typcn-message");
//                        },1000);
//                    }
//                });
            });

        </script>
    {% endif %}

    {% block javascripts %}
    {% endblock javascripts %}


       <script type="text/javascript">
              $("#users").mCustomScrollbar({
                   theme:"minimal-dark"
               });
       </script>
   </body>
</html>