{% extends "::layout.html.twig" %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <!-- Header -->
        <div id="header" class="skel-layers-fixed">

            <div class="top">

                <!-- Logo -->
                <div id="logo">

                    <span class="image avatar48"><img src="{{ asset('bundles/athenachat/images/avatars/'~app.user.avatar) }}" alt="" /></span>
                    <h1 id="title">{{ app.user.lastname }}&nbsp;{{ app.user.firstname }}</h1>
                    <p>
                        <a href="{{ path('fos_user_security_logout') }}" title="déconnexion">Se déconnecter</a>
                    </p>
                </div>

                <section class="form_user">
                    {{ form_start(form) }}

                        <h4>
                            Modifier mes informations
                        </h4>
                        <div>
                            {{ form_widget(form.firstName) }}
                        </div>
                        <div>
                            {{ form_widget(form.lastName) }}
                        </div>
                        <div>
                            {{ form_widget(form.email) }}
                        </div>
                        <div>
                            <div id="avatars"></div>
                        </div>
                        <div>
                            <button class="btn btn-default" name="Valider">Enregistrer</button>
                        </div>
                        {{ form_widget(form.avatar) }}
                    {{ form_end(form) }}
                    <form name="fos_user_change_password" method="post" action="{{ path('changePassword') }}">
                        <h4>
                            Mot de passe
                        </h4>
                        <div>
                            {{ form_widget(formPassword.current_password) }}
                        </div>
                        <div>
                            {{ form_widget(formPassword.plainPassword.first) }}
                        </div>
                        <div>
                            {{ form_widget(formPassword.plainPassword.second) }}
                        </div>
                        <div>
                            <button class="btn btn-default" name="Valider">Enregistrer</button>
                        </div>
                    </form>


                </section>


            </div>

            <div class="bottom">

                <!-- Social Icons -->
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <div style="text-align: center;">

                    <small style="font-size: 10px; color: grey; line-height: 12px;">
                        &copy;Copyright Pierre VASSOILLES & Damien LEBERT / IP-FORMATION <br>
                        Designed by <a href="http://html5up.net" target="_blank">HTML5 UP</a>
                    </small>
                </div>

            </div>

        </div>


        <div id="main">

            <!-- Intro -->
            <section id="section-chat-room" class="">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <img src="{{ asset("/bundles/athenachat/images/logo-2.png") }}" style="opacity: 0.5;"/>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <h4 style="text-align:left;">
                                Discutez avec tout le monde...
                            </h4>
                            <section id="chat-room-messages" name="chat-room-message">

                            </section>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                            <textarea name="chat-room-area" id="chat-room-area" class="form-control" rows="2" maxlength="300" placeholder="Tapez votre message ici..."></textarea>
                            <button name="chat-room-submit" id="chat-room-submit" class="btn btn-default">Envoyer</button>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                    </div>
                </div>

            </section>
        </div>

    {% endif %}
{% endblock content %}


{% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function(){

            $.ajax({
                type: "GET",
                url: '/avatars/list',
                success:function(dataAvatars){
                    $('#avatars').ddslick({
                        data: dataAvatars,
                        width: 100,
                        imagePosition: "left",
                        onSelected: function (data) {
                            console.log(data);
                            $('#athena_user_avatar').val(data.selectedData.value);
                        }
                    });
                }
            });



        });

    </script>
{% endblock javascripts %}